<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{Layout/default}">

<head>
<meta charset="UTF-8">


<style>
table {
	background-color: #fff;
	border-top: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc
}

a {
	color: #6c757d
}

strong {
	color: #aaaaaa
}

.frequency {
	color: #f8f9fa
}

button {
	border-radius: 10px
}

.order {
	background-color: white;
}

input:focus {
	outline: 2px solid #d50000;
}

button {
	background-color: #e7ab3c;
	border: none;
	color: #ffffff
}

.info {
	color: #aaaaaa
}

.info1 {
	color: #343a40
}
</style>
<th:block th:replace="fragments/head :: headFragment"></th:block>
</head>


<body>
<div th:fragment="userUpdate_contents">
	<th:block layout:fragment="content">
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<div class="breacrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-text">
							<a th:href="@{'/'}" href="/"><i class="fa fa-home"></i> Home</a>
							<span>마이페이지</span>
						</div>
					</div>
				</div>
				<br>
				<fieldset>
					<legend class="info1">회원정보 설정</legend>
					<form method="post" th:action="@{/user/customer}" th:object="${shoppingUser}">
<!-- 						<input type="hidden" name="user_id" th:field="*{user_id}"/> -->
						<table border="1" align="center" width="1100">
							<tr>
								<td class="info">&emsp;사용자ID&emsp;
									<input type="text" size=20 th:field="*{user_id}" readonly="readonly" style="background-color: #FAFAFA">&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
								</td>
							</tr>
							<tr>
								<td class="info">&emsp;&emsp;&emsp;이름&emsp;
									<input type="text" th:field="*{user_name}" name="user_name" class="name_input" size=20 style="background-color: #FAFAFA">
								</td>
							</tr>
							<tr>
								<td class="info">&emsp;비밀번호&emsp;
									<input type="password" name="user_pass" class="pw_input" placeholder="영문,숫자,특수문자를 포함한 8~15자리로 입력해주세요." size=50 style="background-color: #FAFAFA"> 
<!-- 									<span class="final_pw_ck">비밀번호를 입력해주세요.</span>  -->
<!-- 									<span class="final_pw_ck2">비밀번호 형식을 확인해주세요.</span>  -->
<!-- 									<span class="final_pw_ck3">공백을 사용할 수 없습니다.</span> -->
									<div class="pw_check"></div>
<!-- 									<input type="password" size=40 style="background-color: #FAFAFA"> -->
								</td>
							</tr>
							<tr>
								<td class="info">비밀번호확인
									<input type="password" name="con-pass" class="pwck_input" placeholder="영문,숫자,특수문자를 포함한 8~15자리로 입력해주세요." size=50 style="background-color: #FAFAFA"> 
<!-- 									<span class="final_pwck_ck">비밀번호 확인을 입력해주세요.</span>  -->
<!-- 									<span class="pwck_input_re_1">비밀번호가 일치합니다.</span>  -->
<!-- 									<span class="pwck_input_re_2">비밀번호가 일치하지 않습니다.</span>  -->
<!-- 									<span class="final_pwck_ck2">비밀번호 형식을 확인해주세요.</span>  -->
<!-- 									<span class="final_pwck_ck3">공백을 사용할 수 없습니다.</span> -->
									<div class="pw_check"></div>
<!-- 									<input type="password2" size=40 style="background-color: #FAFAFA"> -->
								</td>
							</tr>
							<tr>
								<td class="info">&emsp;&emsp;이메일&emsp;
									<input type="email" th:field="*{user_email}" readonly="readonly" size=40 style="background-color: #FAFAFA">	
								</td>
							</tr>
							<tr>
								<td class="info">&emsp;전화번호&emsp;
									<input type="text" th:field="*{user_phone}" name="user_phone" class="phone_input" placeholder="ex)010-1234-1234" size=40 style="background-color: #FAFAFA">
								</td>
							</tr>
							<tr>
								<td class="info">&emsp;&emsp;&emsp;주소&emsp;
									<input type="text" class="add1_input" name="user_add1" id="sample2_postcode" size=10 th:field="*{user_add1}" style="background-color: #FAFAFA" readonly="readonly">
									<input type="text" class="add2_input" name="user_add2" id="sample2_address" size=50 th:field="*{user_add2}" style="background-color: #FAFAFA" readonly="readonly">
									<input type="text" class="add3_input" name="user_add3" id="sample2_detailAddress" size=30 th:field="*{user_add3}" style="background-color: #FAFAFA">
									<input type="button" onclick="sample6_execDaumPostcode()" value="주소 검색">
										<!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
									<div id="layer"
										style="display: none; position: fixed; overflow: hidden; z-index: 1; -webkit-overflow-scrolling: touch;">
										<img src="//t1.daumcdn.net/postcode/resource/images/close.png"
											id="btnCloseLayer"
											style="cursor: pointer; position: absolute; right: -3px; top: -3px; z-index: 1"
											onclick="closeDaumPostcode()" alt="닫기 버튼">
									</div>
								</td>
							</tr>
						</table>
						<br>
						&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						&emsp;&nbsp;
						<button type="reset" class="site-btn">&emsp;취소하기&emsp;</button>
<!-- 						<button type="button" class="site-btn register-btn" id="join_button">가입하기</button>					 -->
						<button type="submit" class="site-btn" name="update">&emsp;변경하기&emsp;</button> <!-- id="join_button" --> 
					</form>
				</fieldset>
				<br> <br>
			</div>
		</div>

		<section class="shopping-cart spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="cart-table" style="text-align: center;">			
							<button type="button" class="site-btn place-btn" onclick="location.href='/user/delivery'">주문내역 확인 및 배송조회</button>
						</div>
						<br> <br>
					</div>
				</div>
			</div>
		</section>
	</th:block>
	</div>
	
	<th:block layout:fragment="script">
		<script>
	    
	 	var pwCheck = false; // 비번
	 	var pwckCheck = false; // 비번 확인
	 	var pwckcorCheck = false; // 비번 확인 일치 확인
	 	var nameCheck = false; // 이름
	 	var addressCheck = false; // 주소
	 	var phoneCheck = false; // 전화번호
	 	
	 	// 유효성 정규식
	 	var regId = /^[a-zA-Z](?=.*[a-zA-Z])(?=.*[0-9]).{7,14}$/;
	 	var regPass = /^.*(?=^.{7,14}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
	 	var regName = /^[가-힣]{2,15}$/;
	 	var regPhone =  /^01(?:0|1|[6-9])-(?:\d{3}|\d{4})-\d{4}$/;
	 	
	 	//security token
	 	var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
				
		$(document).ready(function(){
			//회원가입 버튼(회원가입 기능 작동)
// 			$("#join_button").click(function(){
				/* $("#join_form").attr("action", "/user/register");
				$("#join_form").submit(); */
// 				var id = $('.id_input').val();
		        var pw = $('.pw_input').val();                // 비밀번호 입력란
		        var pwck = $('.pwck_input').val();            // 비밀번호 확인 입력란
		        var name = $('.name_input').val();            // 이름 입력란
// 		        var mail = $('.mail_input').val();            // 이메일 입력란
		        var phone = $('.phone_input').val();          // 번호 입력란
		        var add3 = $('.add3_input').val();            // 주소3 입력란
		        var user_type = $('.user_type').val();
		        
		     	// 정규식 검사 
		     	
		     	/* 아이디 검사 */
		     	/* if(id == ""){ // id가 null
		     		$('.final_id_ck').css("display","inline-block"); // 공백
		     	} else {
		     		$('.final_id_ck').css("display","inline-none");
		     	} */
		     	
		        /* 비밀번호 유효성 검사 */
		        if(pw == ""){ // pw가 null
		        	$('.final_pw_ck').css('display','block');
		        	$('.final_pw_ck3').css('display','none');
		        	$('.final_pw_ck2').css('display','none');
		        	pwCheck = false;
		        } else if(!regPass.test(pw)){ // 유효성 어긋 날 때
		        	$('.final_pw_ck2').css('display','block');
		        	$('.final_pw_ck3').css('display','none');
		        	$('.final_pw_ck').css('display','none');
		        	pwCheck = false;
		        } else if(pw.search(/\s/) !== -1){ // 공백이 있을때 
		        	$('.final_pw_ck3').css('display','block');
		        	$('.final_pw_ck2').css('display','none');
		        	$('.final_pw_ck').css('display','none');
		        	pwCheck = false;
		        } else { // 통과
		        	$('.final_pw_ck3').css('display','none');
		        	$('.final_pw_ck2').css('display','none');
		        	$('.final_pw_ck').css('display','none');
		        	pwCheck = true;
		        }
		        
		        /* 비밀번호 확인 유효성 검사 */
		        if(pwck == ""){ // null
		        	$('.final_pwck_ck').css('display','block');
		        	$('.final_pwck_ck2').css('display','none');
		        	$('.final_pwck_ck3').css('display','none');
		        	pwckCheck = false;
		        } else if(!regPass.test(pwck)){ // 유효성 검사 탈락
		        	$('.final_pwck_ck2').css('display','block');
		        	$('.final_pwck_ck').css('display','none');
		        	$('.final_pwck_ck3').css('display','none');
		        	pwckCheck = false;
		        } else if(pwck.search(/\s/) !== -1){ // 공백
		        	$('.final_pwck_ck3').css('display','block');
		        	$('.final_pwck_ck2').css('display','none');
		        	$('.final_pwck_ck').css('display','none');
		        	pwckCheck = false;
		        } else { // 통과
		        	$('.final_pwck_ck2').css('display','none');
		        	$('.final_pwck_ck').css('display','none');
		        	$('.final_pwck_ck3').css('display','none');
		        	pwckCheck = true;
		        }
		        
		        /* 이름 유효성 검사 */
		        if(!regName.test(name)){ // 유효성 검사 탈락
		        	$('.final_name_ck').css('display', 'block');
		        	nameCheck = false;
		        } else { // 통과
		        	$('.final_name_ck').css('display', 'none');
		        	nameCheck = true;
		        }
		        
		        /* 전화번호 유효성 검사 */
		        if(phone == ""){
		            $('.final_phone_ck').css('display','block');
		            $('.final_phone_ck2').css('display', 'none');
		            phoneCheck = false;
		        }else if(!regPhone.test(phone)){
		        	$('.final_phone_ck2').css('display','block');
		        	$('.final_phone_ck').css('display', 'none');
		        	phoneCheck = false;
		        }else{
		            $('.final_phone_ck').css('display', 'none');
		            $('.final_phone_ck2').css('display','none');
		            phoneCheck = true;
		        }
		        
		        /* 주소 유효성 검사 */
		        if(add3 == ""){
		            $('.final_addr_ck').css('display','block');
		            addressCheck = false;
		        }else{
		            $('.final_addr_ck').css('display', 'none');
		            addressCheck = true;
		        }
		        
		        console.log(idckCheck)
		        console.log(pwCheck)
		        console.log(pwckCheck)
		        console.log(pwckcorCheck)
		        console.log(nameCheck)
		        console.log(regCheck)
		        console.log(addressCheck)
		        console.log(phoneCheck)
		        console.log(mailCheck)
		        console.log(user_type)
		        
		        /* 최종 유효성 검사 */
		        if(user_type == 2){
			        if(pwCheck&&pwckCheck&&pwckcorCheck&&nameCheck&&regCheck&&addressCheck&&phoneCheck){
			        	$("#join_button").submit();
			        }    
		        	return false;
				} else {
					if(pwCheck&&pwckCheck&&pwckcorCheck&&nameCheck&&regCheck&&addressCheck&&phoneCheck){
			        	$("#join_button").submit();
			        }  
					return false;
				}
// 		    });
	 	});
		
		//패스워드 검사
	 	$('.pwck_input').on("propertychange change keyup paste input", function(){
		    	 var pw = $('.pw_input').val();
		    	 var pwck = $('.pwck_input').val();
		    	 
		    	 $('.final_pwck_ck').css('display', 'none');
		    	 
		    	 if(pw == pwck){
		    	        $('.pwck_input_re_1').css('display','block');
		    	        $('.pwck_input_re_2').css('display','none');
		    	        pwckcorCheck = true;
	    	     }else{
	    	         $('.pwck_input_re_1').css('display','none');
	    	         $('.pwck_input_re_2').css('display','block');
	    	         pwckcorCheck = false;
	    	     }        
				
		});		

		// 주소 검색
		function sample6_execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var addr = ''; // 주소 변수
	                var extraAddr = ''; // 참고항목 변수
	
	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }
	
	                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
	                if(data.userSelectedType === 'R'){
	                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                        extraAddr += data.bname;
	                    }
	                    // 건물명이 있고, 공동주택일 경우 추가한다.
	                    if(data.buildingName !== '' && data.apartment === 'Y'){
	                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	                    }
	                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
	                    if(extraAddr !== ''){
	                        extraAddr = ' (' + extraAddr + ')';
	                    }
	                    /* // 조합된 참고항목을 해당 필드에 넣는다.
	                    document.getElementById("sample2_extraAddress").value = extraAddr; */
	                    
	                    // 주소변수 문자열과 참고항목 문자열 합치기
	                    addr += extraAddr;
	                
	                } else {
	                    /* document.getElementById("sample2_extraAddress").value = ''; */
	                	 addr += ' ';
	                }
	
	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                /* document.getElementById('sample2_postcode').value = data.zonecode;
	                document.getElementById("sample2_address").value = addr; */
	                $(".add1_input").val(data.zonecode);
	                //$("[name=memberAddr1]").val(data.zonecode);    // 대체가능
	                $(".add2_input").val(addr);
	                //$("[name=memberAddr2]").val(addr);            // 대체가능
	                // 커서를 상세주소 필드로 이동한다.
	                /* document.getElementById("sample2_detailAddress").focus(); */
	                // 상세주소 입력란 disabled 속성 변경 및 커서를 상세주소 필드로 이동한다.
		            $(".add3_input").attr("readonly",false);
		            $(".add3_input").focus();
	            }
	        }).open();
		}
		</script>

		<script	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script th:src="@{/js/jquery-3.3.1.min.js}"
			src="../static/js/jquery-3.3.1.min.js"></script>
		<script th:src="@{/js/bootstrap.min.js}"
			src="../static/js/bootstrap.min.js"></script>
		<script th:src="@{/js/jquery-ui.min.js}"
			src="../static/js/jquery-ui.min.js"></script>
		<script th:src="@{/js/jquery.countdown.min.js}"
			src="../static/js/jquery.countdown.min.js"></script>
		<script th:src="@{/js/jquery.nice-select.min.js}"
			src="../static/js/jquery.nice-select.min.js"></script>
		<script th:src="@{/js/jquery.zoom.min.js}"
			src="../static/js/jquery.zoom.min.js"></script>
		<script th:src="@{/js/jquery.dd.min.js}"
			src="../static/js/jquery.dd.min.js"></script>
		<script th:src="@{/js/jquery.slicknav.js}"
			src="../static/js/jquery.slicknav.js"></script>
		<script th:src="@{/js/owl.carousel.min.js}"
			src="../static/js/owl.carousel.min.js"></script>
		<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
	</th:block>

</body>

</html>