<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<!-- Footer Section Begin -->
    <footer class="footer-section" th:fragment="footerFragment">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="./index.html" th:href="@{'/'}"><img src="/img/logo4.jpg" alt="로고"></a>
                        </div>
                        <ul>
                            <li>대표이사 : O O O</li>
                            <li>서울특별시 마포구 동교로</li>
                            <li>사업자 등록번호 : 000-00-00000 </li>
                            <li>통신판매업신고 : 2015-서울마포-0000</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                 저작권 회사대표 주소
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
</body>

</html>