<!DOCTYPE html>
<html 	lang="ko"
     	xmlns:th="http://www.thymeleaf.org"
     	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="headFragment">
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
	<meta charset="UTF-8">
	<meta name="description" content="Fashi Template">
	<meta name="keywords" content="Fashi, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<!-- 이 영역에 공통으로 사용할 css, js library를 선언한다. -->
	<!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/themify-icons.css" type="text/css" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css" th:href="@{/css/elegant-icons.css}">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" type="text/css" th:href="@{/css/jquery-ui.min.css}">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- Content Page의 CSS fragment 삽입 -->
    <th:block layout:fragment="css"></th:block>
    
    <!-- Content Page의 script fragment 삽입 -->
    <th:block layout:fragment="script"></th:block>

</head>
</html>