<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{Layout/default}">
<head>
<meta charset="UTF-8" />
<title>상품등록</title>
<!-- config fragment 사용 -->
<th:block th:replace="fragments/head :: headFragment"></th:block>
</head>

<body>
	<th:block layout:fragment="content">
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>
<div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#" th:href="@{'/'}"><i class="fa fa-home"></i> Home</a>
                        <span>판매자 정보 수정</span>
                    </div>
                </div>
            </div><br></div></div>
<div class="container">
	<div class="row">
		<div>
			<form action="#" th:action="@{/seller/upload1}"
				th:object="${shoppingUser}"
				method="post" class="form-horizontal">
				<h2>판매자 정보 수정</h2><br>
				
				<table>
					<tr th:each="p:${shoppingUser}">
						<td width="250px" class="margin-top">&emsp;&emsp;회원아이디</td>
						<td width="600px">
							<div class="form-group">
								<div class="col-sm-9">
									<input type="text"
											th:value="${user_id}"
											th:field="*{user_id}"
											placeholder="회원아이디"
											class="form-control" readonly="readonly"/>
											<label th:if="${#fields.hasErrors('user_id')}"
													th:errors="*{user_id}"
													class="validation-message"></label>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>&emsp;&emsp;비밀번호</td>
						<td>
							<div class="form-group">
								<div class="col-sm-9">
									<input type="password"
											th:value="${user_pass}"
											th:field="*{user_pass}"
											placeholder="비밀번호"
											class="form-control"/>
												<label th:if="${#fields.hasErrors('user_pass')}"
												th:errors="*{user_pass}"
												class="validation-message"></label>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>&emsp;&emsp;이름</td>
						<td>				
							<div class="form-group">
								<div class="col-sm-9">
									<input type="text"
											placeholder="이름"
											th:value="${user_name}"
											th:field="*{user_name}"
											class="form-control"/>
												<label th:if="${#fields.hasErrors('user_name')}"
														th:errors="*{user_name}"
														class="validation-message"></label>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>&emsp;&emsp;이메일 입력</td>
						<td>
							<div class="form-group">
								<div class="col-sm-9">
									<input type="text"
											th:value="${user_email}"
											placeholder="E-mail 입력"
											th:field="*{user_email}"
											class="form-control"/>
											<label th:if="${#fields.hasErrors('user_email')}"
													th:errors="*{user_email}"
													class="validation-message"></label>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>&emsp;&emsp;전화번호</td>
						<td>
							<div class="form-group">
								<div class="col-sm-9">
									<input type="text"
									th:value="${user_phone}"
											placeholder="전화번호"
											th:field="*{user_phone}"
											class="form-control"/>
											<label th:if="${#fields.hasErrors('user_phone')}"
													th:errors="*{user_phone}"
													class="validation-message"></label>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>&emsp;&emsp;사업자 등록번호</td>
						<td>				
							<div class="form-group">
								<div class="col-sm-9">
									<input type="text"
											th:value="${user_regNum}"
											placeholder="사업자등록번호"
											th:field="*{user_regnum}"
											/>
												<label th:if="${#fields.hasErrors('user_regnum')}"
														th:errors="*{user_regnum}"
														class="validation-message"></label>
														<button type="button" onClick="swal('확인되었습니다','나머지 정보를 입력해주세요')">조회하기</button>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>&emsp;&emsp;주소</td>
						<td>				
							<div class="form-group">
								<div class="col-sm-9">
									<input type="button" margin-buttom="10px" class="button" onclick="sample4_execDaumPostcode()"  style="background-color:#FAFAFA" value="우편번호 찾기">
										<input type="text" 
												placeholder="우편번호찾기"						
												id="sample4_postcode"  style="background-color:#FAFAFA"
												th:value="${user_add1}"
												th:field="*{user_add1}"
												class="border-radi-1"/>
													<label th:if="${#fields.hasErrors('user_add1')}"
															th:errors="*{user_add1}"
															class="validation-message"></label>
								</div>
							</div>				
							<div class="form-group">
								<div class="col-sm-9">					
									<input type="text"
										placeholder="도로명주소"
										id="sample4_roadAddress"  style="background-color:#FAFAFA"
										th:value="${user_add2}"
										th:field="*{user_add2}"
										class="form-control"/>
											<label th:if="${#fields.hasErrors('user_add2')}"
													th:errors="*{user_add2}"
													class="validation-message"></label>							
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-9">
									<input type="text"
											placeholder="상세주소"
											id="sample4_detailAddress"  style="background-color:#FAFAFA"
											th:value="${user_add3}"
											th:field="*{user_add3}"
											class="form-control"/>
												<label th:if="${#fields.hasErrors('user_add3')}"
														th:errors="*{user_add3}"
														class="validation-message"></label>
								</div>
							</div>
						</td>
					</tr>				
				</table><br>


					<input type="hidden" id="sample4_jibunAddress" placeholder="지번주소">
					<span id="guide" style="color:#999;display:none"></span>
					<input type="hidden" id="sample4_extraAddress" placeholder="참고항목">
				<div class="form-group">
					<div class="col-sm-9">
						<button type="submit" style="position: absolute; right: 280px;"
							class="site-btn">&emsp;수정하기&emsp;</button><br><br>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

   
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
			
		
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/js/jquery-3.3.1.min.js}"
			src="../static/js/jquery-3.3.1.min.js"></script>
		<script th:src="@{/js/bootstrap.min.js}"
			src="../static/js/bootstrap.min.js"></script>
		<script th:src="@{/js/jquery-ui.min.js}"
			src="../static/js/jquery-ui.min.js"></script>
		<script th:src="@{/js/jquery.countdown.min.js}"
			src="../static/js/jquery.countdown.min.js"></script>
		<script th:src="@{/js/jquery.nice-select.min.js}"
			src="../static/js/jquery.nice-select.min.js"></script>
		<script th:src="@{/js/jquery.zoom.min.js}"
			src="../static/js/jquery.zoom.min.js"></script>
		<script th:src="@{/js/jquery.dd.min.js}"
			src="../static/js/jquery.dd.min.js"></script>
		<script th:src="@{/js/jquery.slicknav.js}"
			src="../static/js/jquery.slicknav.js"></script>
		<script th:src="@{/js/owl.carousel.min.js}"
			src="../static/js/owl.carousel.min.js"></script>
		<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
	</th:block>
</body>
</html>