<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{Layout/default}">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<!-- config fragment 사용 -->
<th:block th:replace="fragments/head :: headFragment"></th:block>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="../static/css/style2.css" type="text/css"
		th:href="@{/css/style2.css}">
</th:block>
</head>
<body>
	<th:block layout:fragment="content">
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- Breadcrumb Section Begin -->
		<div class="breacrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-text">
							<a href="#" th:href="@{'/'}"><i class="fa fa-home"></i> 홈</a> <span>로그인</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb Form Section Begin -->

		<!-- Register Section Begin -->
		<div class="register-login-section spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="login-form">
							<h2>로그인</h2>
							<form th:action="@{/login}" method="Post">
								<div class="group-input">
									<label for="username">아이디 *</label> <input type="text"
										name="userid">
								</div>
								<div class="group-input">
									<label for="pass">비밀번호 *</label> <input type="password"
										name="passwd">
								</div>
								<div class="group-input">
									<div th:if="${param.error}" class="id_pw_chk">* 아이디와
										비밀번호를 확인해주세요.</div>
								</div>
								<div class="group-input gi-check">
									<div class="gi-more">
										<label for="save-pass"> 비밀번호 저장하기 <input
											type="checkbox" id="save-pass"> <span
											class="checkmark"></span>
										</label> <a href="#" th:href="searchPw" class="forget-pass">비밀번호
											찾기</a> <a href="#" th:href="searchId" class="forget-pass">아이디
											찾기</a>
									</div>
								</div>
								<button type="submit" class="site-btn login-btn">로그인</button>
								<a id="custom-login-btn"
									href="http://localhost:7080/oauth2/authorization/kakao"> <img
									src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
									width="222" />
								</a>
							</form>
							<div class="switch-login">
								<a href="select" class="or-login">회원가입</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Register Form Section End -->
	</th:block>
	<!-- Js Plugins -->
	<th:block layout:fragment="script">
		<script th:src="@{/js/jquery-3.3.1.min.js}"
			src="../static/js/jquery-3.3.1.min.js"></script>
		<script th:src="@{/js/bootstrap.min.js}"
			src="../static/js/bootstrap.min.js"></script>
		<script th:src="@{/js/jquery-ui.min.js}"
			src="../static/js/jquery-ui.min.js"></script>
		<script th:src="@{/js/jquery.countdown.min.js}"
			src="../static/js/jquery.countdown.min.js"></script>
		<script th:src="@{/js/jquery.nice-select.min.js}"
			src="../static/js/jquery.nice-select.min.js"></script>
		<script th:src="@{/js/jquery.zoom.min.js}"
			src="../static/js/jquery.zoom.min.js"></script>
		<script th:src="@{/js/jquery.dd.min.js}"
			src="../static/js/jquery.dd.min.js"></script>
		<script th:src="@{/js/jquery.slicknav.js}"
			src="../static/js/jquery.slicknav.js"></script>
		<script th:src="@{/js/owl.carousel.min.js}"
			src="../static/js/owl.carousel.min.js"></script>
		<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
	</th:block>
</body>

</html>