<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{Layout/default}">
<head>
<meta charset="UTF-8">
<title>아이디 찾기</title>
<!-- config fragment 사용 -->
<th:block th:replace="fragments/head :: headFragment"></th:block>
</head>
<body>
	<th:block layout:fragment="content">
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		<!-- Breadcrumb Section Begin -->
		<div class="breacrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-text">
							<a href="#"><i class="fa fa-home"></i> 홈</a> <span>아이디 찾기</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb Form Section Begin -->

		<!-- Register Section Begin -->
		<div class="register-login-section spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="login-form">
							<h2>아이디 찾기</h2>
							<form action="#" th:action="@{/searchIdChk}" method="POST">
								<div class="group-input">
									<label for="username">이름 *</label> <input type="text"
										name="user_name" class="name_input"
										placeholder="가입 당시 입력한 이름을 입력해주세요."> <span
										class="final_name_ck">공백없이 한글 입력만 가능합니다.</span>
								</div>
								<div class="group-input">
									<label for="pass">이메일 *</label> <input type="text"
										name="userEmail" class="mail_input"
										placeholder="가입 당시 입력한 이메일 주소를 입력해주세요."> <span
										class="final_mail_ck">이메일을 입력해주세요.</span> <span
										class="final_mail_ck2">이메일 형식을 확인해주세요.</span>
								</div>
								<button type="submit" id="searchId_button"
									class="site-btn login-btn">아이디 찾기</button>
								<button type="reset" class="site-btn login-btn">취소</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Register Form Section End -->

		<th:block layout:fragment="script">
			<script>
    
    // input 체크
    var nameCheck = false;
    var mailCheck = false;
    
    // 유효성 검사
    var regName = /^[가-힣]{2,15}$/;
    var regMail = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
    
	    $(document).ready(function(){
			//회원가입 버튼(회원가입 기능 작동)
			$("#searchId_button").click(function(){
				 var name = $('.name_input').val();
				 var mail = $('.mail_input').val();          // 번호 입력란
				
				
				 if(!regName.test(name) || name == ""){
					 $('.final_name_ck').css('display', 'block');
			         nameCheck = false;
				 } else {
					 $('.final_name_ck').css('display', 'none');
			         nameCheck = true;
				 }
				 
				 if(mail == "") {
					 $('.final_mail_ck').css('display', 'block');
					 $('.final_mail_ck2').css('display', 'none');
					 mailCheck = false;
				 } else if(!regMail.test(mail)){
					 $('.final_mail_ck').css('display', 'none');
					 $('.final_mail_ck2').css('display', 'block');
					 mailCheck = false;
				 } else {
					 $('.final_mail_ck').css('display', 'none')
					 $('.final_mail_ck2').css('display', 'none')
					 mailCheck = true;
				 }
				 
				 console.log(nameCheck);
				 console.log(mailCheck);
				 
				 if(nameCheck&&mailCheck){
					 $("#searchId_button").submit();
				 } else {
					 return false;
				 }
				 
			})
	    });
	    
    </script>
			<script th:src="@{/js/jquery-3.3.1.min.js}"
				src="../static/js/jquery-3.3.1.min.js"></script>
			<script th:src="@{/js/bootstrap.min.js}"
				src="../static/js/bootstrap.min.js"></script>
			<script th:src="@{/js/jquery-ui.min.js}"
				src="../static/js/jquery-ui.min.js"></script>
			<script th:src="@{/js/jquery.countdown.min.js}"
				src="../static/js/jquery.countdown.min.js"></script>
			<script th:src="@{/js/jquery.nice-select.min.js}"
				src="../static/js/jquery.nice-select.min.js"></script>
			<script th:src="@{/js/jquery.zoom.min.js}"
				src="../static/js/jquery.zoom.min.js"></script>
			<script th:src="@{/js/jquery.dd.min.js}"
				src="../static/js/jquery.dd.min.js"></script>
			<script th:src="@{/js/jquery.slicknav.js}"
				src="../static/js/jquery.slicknav.js"></script>
			<script th:src="@{/js/owl.carousel.min.js}"
				src="../static/js/owl.carousel.min.js"></script>
			<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
		</th:block>
</body>

</html>